streamlit

colorama
matplotlib
seaborn
numpy
pandas

google-auth


distributed
dateparser
fastparquet

nlpaug

# prevent bq 3+ db-dtypes package error when running training from bq

# API


# jupiter notebook

torch



# Dependancies for sheethelper
gspread
transformers
openai
wordcloud

sentencepiece
black
streamlit-shadcn-ui
loguru
schedule
wordcloud
requests
nlpretext
plotly
reportlab

tqdm



