wheel
nbresult
colorama
ipdb

yapf
matplotlib
pygeohash
pytest
seaborn
numpy
pandas
scipy
scikit-learn==1.2.1
google-auth
db-dtypes
pyarrow
bokeh
distributed
dateparser
fastparquet
httpcore
nlpaug

# prevent bq 3+ db-dtypes package error when running training from bq

prefect
psycopg2-binary

# API


# jupiter notebook
notebook
ipython
torch
ipywidgets


# Dependancies for sheethelper
gspread
transformers
openai
wordcloud
streamlit
sentencepiece
requests
black
skimpy
streamlit-shadcn-ui
loguru
schedule
wordcloud
requests
nlpretext
plotly
reportlab
fpdf
tqdm
spacy


